<html>

{% load static %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Campovski's Beer Reviews</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon1.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/beer_index.css' %}" />
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
</head>

<body>
    <header>
        <div id="header-inner">
            <a href="http://campovski.eu" id="logo"></a>
            <nav>
             <!--   <a href="#" id="menu-icon">Sort</a>
                <ul id="menu">
                    <li><a href="">id (ascending)</a></li>
                    <li><a href="">id (descending)</a></li>
                    <li><a href="">name (ascending)</a></li>
                    <li><a href="">name (descending)</a></li>
                </ul>-->
                <form action="#">
			<input type="button" id="goto" onclick="window.location.href='http://campovski.eu/burger/';" value="Cancel" />
		</form>
            </nav>
        </div>
    </header>
<!-- END OF HEADER -->
    <div id="browse_menu">
        <p>Brewers in database:</p>
        <ul class="items">
            {% for result in resultset %}
                <li><a href="{% url 'burger:browse_item' result %}/">{{ result }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
