<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon1.png' %}"/>
        <title>Review: {{ burger.name }}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/app_detail.css' %}" />
	<style>
		html
		{
			{% with 'images/'|add:burger.image as static_image %}
				background: url("{% static static_image %}") no-repeat center center fixed;
			{% endwith %}
			-webkit-backgorund-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	</style>
</head>
<body>
<div class="reviewPage">
	<h1 class="name">{{ burger.name }}</h1>
	<h2 class="brewer">{{ maker.name }} -- {{ maker.country }}</h2>
	<p class="review"> {{ burger.review }}</p>
<div class="grades">
	<p class="grades">
		<b>TOTAL: {{ burger.grade_total }}</b><br>
		<i>Taste:</i> <b>{{ burger.grade_taste }}</b><br>
		<i>Appearance:</i> <b>{{ burger.grade_appearance }}</b><br><br>
		<i>Juicyness: {{ burger.juicyness }}</i><br>
		<i>Spicyness: {{ burger.spicyness }}%</i>
	</p>
	{% load static %}
	{% with 'images/'|add:burger.image as static_image %}
		<img src="{% static static_image %}" alt="Image of {{ burger.name }}">
	{% endwith %}
</div>
</div>
</body>
</html>
