<html>

{% load static %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Campovski's Beer Reviews</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon1.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/beer_index.css' %}" />
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
</head>

<body>
    <header>
        <div id="header-inner">
            <a href="http://campovski.eu" id="logo"></a>
            <nav>
                <form action="#">
			<input type="button" id="goto" onclick="window.location.href='http://campovski.eu/';" value="Cancel" />
		</form>
            </nav>
        </div>
    </header>
<!-- END OF HEADER -->
    <div id="browse_menu">
        <div id="major_types">
            <p class="title_about">About this page:</p>
            <p class="desc_about">Hello there! Welcome to my website. Here you will find thorough beer, tasty burger, strong and smelly tea and coffee reviews, which are of course very subjective, but do still reveal the major picture.<br><br>You may wonder, how the hell on Earth does the grading system work...? Well, all grades are on scale from 1 to 5, 5 being the highest. The grades follow next simple rule (which might not be the best, but it is certainly cleaning up a subjective factor a bit):</p>
            <ul id="grades_explained">
                <li>1: Disgusting, could not take it anymore;</li>
                <li>2: Very bad, but still edible / drinkable;</li>
                <li>3: Completely mediocre, nothing special;</li>
                <li>4: Excellent, bring more of it;</li>
                <li>5: One of a kind!</li>
            </ul>
            <p class="desc_about">All grades follow these rules, except for <i>juicyness</i>, and <i>spicyness</i> for burgers, and the rate of <i>strongness</i> for tea and coffee. These only reveal the rough estimate of intensity of attributes.</p>
        </div>
        <div id="from_db">
            <br><br>
            <p class="title_about">About me:</p>
            <p class="desc_about">I am a 22 years old student of mathematics that grows a strong love for beer, burgers, tea, and coffee. In spare time I like to read and write books on mathematics and computer science. I talk a lot, if only I am not tired from the night not slept. That happens quite often, either I work or get drunk - the latter is a joke... Or is it? Am I playing with your mind...? What if all I said is "such a crock of shit"? o.O</p>
        </div>
    </div>
</body>
</html>
