<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon1.png' %}"/>
        <title>Review: {{ torc.name }}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/app_detail.css' %}" />
	<style>
		html
		{
			{% with 'images/'|add:torc.image as static_image %}
				background: url("{% static static_image %}") no-repeat center center fixed;
			{% endwith %}
			-webkit-backgorund-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	</style>
</head>
<body>
<div class="reviewPage">
	<h1 class="name">{{ torc.name }}</h1>
	<h2 class="brewer">{{ maker.name }} -- {{ maker.country }}</h2>
	<p class="review"> {{ torc.review }}</p>
<div class="grades">
	<p class="grades">
		<b>TOTAL: {{ torc.grade_total }}</b><br>
		<i>Taste:</i> <b>{{ torc.grade_taste }}</b><br>
		<i>Smell:</i> <b>{{ torc.grade_smell }}</b><br>
		<i>Color:</i> <b>{{ torc.grade_color }}</b><br>
		<i>Strong: {{ torc.how_strong }}</i><br>
	</p>
	{% load static %}
	{% with 'images/'|add:torc.image as static_image %}
		<img src="{% static static_image %}" alt="Image of {{ torc.name }}">
	{% endwith %}
</div>
</div>
</body>
</html>
