<div class="detail_old">
    <h1>{{ beer.name }}</h1>
    <h3>{{ beer.beer_type }}</h3>
    <h2>{{ brewer.name }} -- {{ brewer.country }}</h2>
    <div class="review">
        <p class="review">{{ beer.review }}</p>
    </div>
    <div class="grades">
        <ul>
            <li><b><i>TOTAL:</i> {{ beer.grade_total }}</b></li>
            <li><i>Taste:</i> <b>{{ beer.grade_taste }}</b></li>
            <li><i>Color:</i> <b>{{ beer.grade_color }}</b></li>
            {% if beer.grade_smell != '0' %}
                <li><i>Smell:</i> <b>{{ beer.grade_smell }}</b></li>
            {% endif %}
            {% if beer.grade_smoothness != '0' %}
                <li><i>Smoothness:</i> <b>{{ beer.grade_smoothness }}</b></li>
            {% endif %}
            {% if beer.grade_foam != '0' %}
                <li><i>Foam:</i> <b>{{ beer.grade_foam }}</b></li>
            {% endif %}
            <br>
            <li><i>Alc.: {{ beer.alc }}</i></li>
        </ul>
    </div>
</div>
