from .settings import *

# Preimenuj v local_settings.py in nadomesti s pravimi podatki

SECRET_KEY = '#yjef_b317a=(o3wxx!3=jlbn=f618&e5+6ytow_9l_!ub-jjr'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'beernburger',
        'USER': 'test_user',
        'PASSWORD': 'test_user_pwd123',
        'HOST': 'localhost',
        'PORT': '',
    }
}
